.movie-card {
    width  : 270px;
    height : 335px;
    padding-top: 25px;
}

.movie-card-image {
    width : 270px;
    height: 164px;
}

.movie-info {
    margin: 15px 15px 5px 15px;
}

.movie-name {
    font-size     : 20px;
    line-height   : 27px;
    letter-spacing: -0.015em;
    color         : #FFFFFF;
}

.movie-year {
    font-size     : 16px;
    line-height   : 22px;
    letter-spacing: -0.015em;
    color         : #FFC700;
}

.movie-subtitle {
    font-size     : 14px;
    line-height   : 19px;
    letter-spacing: -0.015em;
    color         : #FFFFFF;
}