.movie-card {
    width  : 270px;
    padding: 25px 0 65px 0px;
}

.movie-info {
    margin: 15px 15px 5px 15px;
}

.movie-name {
    font-size     : 20px;
    line-height   : 27px;
    letter-spacing: -0.015em;
    color         : #FFFFFF;
}

.movie-year {
    font-size     : 16px;
    line-height   : 22px;
    letter-spacing: -0.015em;
    color         : #FFC700;
}

.movie-synopse {
    font-size     : 14px;
    line-height   : 19px;
    letter-spacing: -0.015em;
}