.welcome-content {
    margin-top : 100px;
    padding: 95px 50px 50px 50px;
    border-radius: 20px;
}

.welcome-title {
    font-weight   : normal;
    font-size     : 48px;
    line-height   : 65px;
    text-align    : center;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.welcome-button {
    margin-top: 150px;
    margin-bottom: 140px;
}